[Unit]
Description=Baby Bottle Temperature Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Restart=always
RestartSec=1
ExecStart=/usr/bin/baby-bottle-temperature-monitor

[Install]
WantedBy=multi-user.target
