[Unit]
Description=Baby Bottle Temperature Monitor

[Service]
Type=forking
ExecStart=/usr/bin/baby-bottle-temperature-monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
